[Unit]
Description=Snapmaker Control Dashboard
After=network.target postgresql.service

[Service]
Type=simple
User=spencermoya
WorkingDirectory=/home/spencermoya/Snapmaker_App
ExecStart=/usr/bin/npm run start
Restart=on-failure
RestartSec=10
Environment=NODE_ENV=production
Environment=DATABASE_URL=postgresql://snapmaker:Server1@127.0.0.1:5432/snapmaker
Environment=VAPID_PUBLIC_KEY=BAb4_VxpEJTeCBOHbSCaJY967zjqT6myf0BmxVcIWb6q3v7skYIahmc3lZDKW-vHkSjaUipD5cdn54_8tx3vMXk
Environment=VAPID_PRIVATE_KEY=9JggAN5StUumyH8vtWLx5f7EyE0aCnqOBZ35et1geIY
Environment=VAPID_EMAIL=mailto:spencermoya@icloud.com

[Install]
WantedBy=multi-user.target
